.highlight pre{
    padding: 1em;
    background: #eaeaea;
}
code{
    color: #666666;
    font-size: .8em;
}
.highlight code{
    color: inherit;
}
.post-teaser h1{
    font-size: 1.5em;
}

.site-header{
    border-bottom: none;
}

.not-front .site-header{
    background-color: $header-desc-background-color;
}
.site-header.has-feature-image{
    background-color: white;
}

//@see main js
.site-header.js-scroll{
    position: fixed;
    transition: padding 1s, background-color .5s;
    z-index: 50;
}
.site-header.js-shrink{
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.35);
    background-color: #ffffff;
}
