.highlight pre{
    padding: 1em;
    background: #eaeaea;
}
code{
    color: #666666;
    font-size: .8em;
}
.highlight code{
    color: inherit;
}
.post-teaser h1{
    font-size: 1.5em;
}

.site-header{
    border-bottom-color: white;
}
.not-front .site-header{
    background-color: $header-desc-background-color;
}
.site-header.has-feature-image{
    background-color: white;
}
