// grey: rgb(107, 114, 109)
// yellow: rgb(251, 193, 4)

// Typography
$font-family-main: Ubuntu, Helvetica, Arial, sans-serif;
$font-family-headings: Ubuntu, Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #505552;
$text-color-inverse: #d7d7d7;
$link-color: #538cc6;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #505552;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #FFD452;
$header-desc-text-color: #505552;

// Log
$success-color: #5E9937;
$error-color: #DB2C6C;
